<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Employee</title>
</head>
<style>
    .table-selection {
        border: 2px solid blueviolet
    }

    .anchor-button {
        background: rgba(0, 0, 0, 0.5);
    }

    .gender-options {
        list-style: none;
    }

    .error {
        color: white;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1 style="text-align: center;color: crimson; font-size: 25px;">Search Employee</h1>
    <form method="POST" action="">
        <div class="table selection">
            <center>
                {{form.employeeId}}
            </center>
            <center>
                {{form.submit(class="anchor-button")}}
            </center>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <td class="error">{{ message }}</td>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <center>
                <table style="width:100%">
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Academic Qualification</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    {% for info in response %}
                    <tr>
                        <th>{{info['employee_id']}}</th>
                        <th>{{info['employee_name']}}</th>
                        <th>{{info['gender']}}</th>
                        <th>{{info['email']}}</th>
                        <th>{{info['address']}}</th>
                        <th>{{info['Academic_qualification']}}</th>
                        <th>{{info['Username']}}</th>
                        <th>{{info['Password']}}</th>
                    </tr>
                    {% endfor %}
                    <tr>
                        {% for product in result %}

                        <th>
                            {{product}}
                        </th>

                        {% endfor %}
                    </tr>
                </table>
                <!-- <td>{{response}}</td> -->

            </center>

        </div>
    </form>

</body>

</html>